/* Boas Vindas */
.section-boas-vindas {
    position: relative;
    height: 538px;
    width: 100vw;
}

.section-boas-vindas::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/imagem-section-principal.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: hue-rotate(-5deg) brightness(0.5);
    z-index: -1;
}

.texto-boas-vindas {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 160px;
}

.container h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.container p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.botao-saiba-mais {
    background-color: #1696DB;
    border-radius: 8px;
    border-style: none;
    width: 155px;
    height: 45px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-right: 10px;
    cursor: pointer;
}

.botao-saiba-mais:hover {
    background-color: #138ccd;
    transition: 0.5s;
}

.botao-adquirir-servico {
    background-color: #FFFFFF;
    border-radius: 8px;
    border-style: none;
    width: 170px;
    height: 45px;
    font-size: 1rem;
    font-weight: 600;
    color: #1696DB;
    margin-left: 10px;
    cursor: pointer;
}

.botao-adquirir-servico:hover {
    background-color: #EFEFEF;
    transition: 0.5s;
}

/* Nossos Serviços */
.section-servicos {
    height: 538px;
    width: 100vw;
}

.section-servicos h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #3AC0E1;
    text-align: center;
    margin-top: 40px;
}

.section-servicos p {
    font-size: 1rem;
    font-weight: 400;
    color: #0f5a6c;
    text-align: center;
    margin: 20px 300px;
}

.cards-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-texto {
    text-align: center;
    margin: 15px 0;
    color: #0f5a6c;
}

.servico-img-1,
.servico-img-2,
.servico-img-3 {
    width: 20rem;
    border-radius: 8px;
    filter: hue-rotate(-5deg) brightness(0.5);
}

.servico-img-1:hover,
.servico-img-2:hover,
.servico-img-3:hover {
    cursor: pointer;
    filter: hue-rotate(-5deg) brightness(0.8);
    transition: 0.5s;
}

/* Time AutoCheck */
.section-time {
    height: 538px;
    width: 100%;
    background-color: #EFF4FF;
}

.section-time h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #3AC0E1;
    text-align: center;
    padding-top: 50px;
}

/* Área de Contato */
.section-contato {
    height: 538px;
    width: 100%;
}

.section-contato h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #3AC0E1;
    text-align: center;
    padding-top: 50px;
}