/* Conteúdo principal (Login) */
#icon-backpage {
    margin-bottom: 40px;
}

.titulo-pagina {
    color: #3AC0E1;
    margin-bottom: 5px;
}

.descricao-pagina {
    color: #0f5a6c;
    margin-bottom: 40px;
}

#login,
#senha {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #0f5a6c;
    border-radius: 8px;
}

.formulario div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.lembrar-senha {
    color: gray;
}

.button-enviar {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    background-color: #3ac0e1;
    border: none;
    border-radius: 8px;
}

.button-enviar a {
    text-decoration: none;
    color: #000000;
}

.criar-conta {
    display: flex;
    flex-direction: column;
}

.criar-conta a {
    margin: 10px 0;
    font-weight: 700;
    color: #3ac0e1;
    text-decoration: none;
}

@media (max-width: 575px) {
    .container {
        margin: 40px 10%;
    }

    #icon-backpage {
        width: 30px;
    }

    .titulo-pagina {
        font-size: 1.4rem;
    }

    .descricao-pagina {
        font-size: 0.7rem;
    }

    #login,
    #senha {
        font-size: 0.8rem;
        padding: 10px 10px;
    }

    .formulario a {
        font-size: 0.7rem;
    }

    .button-enviar {
        font-size: 0.8rem;
        padding: 10px 20px;
    }

    .criar-conta {
        font-size: 0.7rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        margin: 60px 10%;
    }

    #icon-backpage {
        width: 50px;
    }

    .titulo-pagina {
        font-size: 1.8rem;
    }

    .descricao-pagina {
        font-size: 1rem;
    }

    #login,
    #senha {
        font-size: 1.2rem;
        padding: 15px 15px;
    }

    .formulario a {
        font-size: 1.1rem;
    }

    .button-enviar {
        font-size: 1.2rem;
        padding: 15px 25px;
    }

    .criar-conta {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        margin: 60px 20%;
    }

    #icon-backpage {
        width: 50px;
    }

    .titulo-pagina {
        font-size: 1.8rem;
    }

    .descricao-pagina {
        font-size: 1rem;
    }

    #login,
    #senha {
        font-size: 1.2rem;
        padding: 15px 15px;
    }

    .formulario a {
        font-size: 1.1rem;
    }

    .button-enviar {
        font-size: 1.2rem;
        padding: 15px 25px;
    }

    .criar-conta {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        margin: 60px 25%;
    }

    #icon-backpage {
        width: 40px;
    }

    .titulo-pagina {
        font-size: 2rem;
    }

    .descricao-pagina {
        font-size: 1.2rem;
    }

    #login,
    #senha {
        font-size: 1.2rem;
        padding: 15px 15px;
    }

    .formulario a {
        font-size: 1rem;
    }

    .button-enviar {
        font-size: 1.2rem;
        padding: 15px 35px;
    }

    .criar-conta {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 60px 30%;
    }

    #icon-backpage {
        width: 40px;
    }

    .titulo-pagina {
        font-size: 2.3rem;
    }

    .descricao-pagina {
        font-size: 1.3em;
    }

    #login,
    #senha {
        font-size: 1.2rem;
        padding: 15px 15px;
    }

    .formulario a {
        font-size: 1rem;
    }

    .button-enviar {
        font-size: 1.2rem;
        padding: 15px 35px;
    }

    .criar-conta {
        font-size: 1rem;
    }
}