* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}

#logo {
    width: 308px;
}

.lista-horizontal li {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #0f5a6c;
}

.botao-entrar {
    width: 188px;
    height: 60px;
    background-color: #3ac0e1;
    border-radius: 8px;
    border-style: none;
    color: #000000;
}

.imagem-boas-vindas {
    background-image: url("https://img.freepik.com/free-photo/businesswoman-driving-her-car-city_23-2148766996.jpg?t=st=1714149798~exp=1714153398~hmac=a1d0749a2b8917cf1ccc7c0dc4ceb03239fd44ffb8bd8a19d313265edeea7289&w=740");
    background-size: cover;
    height: 538px;
    width: 1440px;
}