* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { /* Serve para criar uma medida relativa do site, vamos usar nas Media Queries com REM*/
    font-size: 20px;
}

body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    position: relative; /* Vai criar um ponto de base */
}

img { /* Serve para flexibilizar as imagens para os Media Queries */
    max-width: 100%;
}

/* CSS do menu de navegação/cabeçalho */

#logo {
    width: 300px;
}

#logo-link {
    flex-grow: 0;
    flex-shrink: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.menu-navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lista-navegacao li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 1rem;
    flex-grow: 1;
    color: #0f5a6c;
}

.item-lista-navegacao a {
    text-decoration: none;
    color: #0f5a6c;
}

.botao-entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 50px;
    background-color: #e1f6fb;
    border-radius: 16px;
    border-style: none;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
}

.botao-entrar:hover {
    background-color: #d6f1f8;
    transition: 0.5s;
}

.botao-entrar p {
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.botao-entrar img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.icone-perfil-usuario {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

/* CSS do Footer */

.estilo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #000000;
    color: #FFFFFF;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#logo-footer {
    width: 300px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.redes-sociais a {
    display: inline-block;
}

.redes-sociais img {
    height: 35px;
    width: auto;
}

.icones-redes-sociais {
    display: flex;
    gap: 10px;
}